{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="css/boxes.css">
{% endblock %}
{% block content %}
	<section class="listings">
		<div class="container">
			<h1 class="boxesFullList-title">Здесь Вы можете выбрать готовый подарок</h1>
			<ul class="properties_list">
				<li>
					<img src="img/1box.png" alt="" title="" class="property_img"/>
					<span class="price">₴340</span>
					<div class="property_details">
						<h3>Бокс "Sparkle"</h3>
						<p>Очень нежный боксик – идеальный подарок, чтобы порадовать любимого человека ✨</p>
						<details>
							<summary>Смотреть состав</summary>
							◦ шампанское Fragolino <br>
							◦ светодиодная гирляндочка<br>
							◦ Kinder(x6)<br>
							◦ Raffaello (x6)<br>
							◦ коробочка с наполнителем
						</details>
						<a href="orderForm.html" class="btn btn-1" id="1">Купить сейчас</a>
					</div>
				</li>
				<li>
					<img src="img/third.JPG" alt="" title="" class="property_img"/>
					<span class="price">₴260</span>
					<div class="property_details">
						<h3>Бокс "Nutella"</h3>
						<p>Вот таким вкусным боксом можно обрадовать Ваших любимых сладкоежек 😍</p>
						<details>
							<summary>Смотреть состав</summary>
							◦ Nutella в баночке <br>
							◦ Kinder (x4)<br>
							◦ Raffaello (x3)<br>
							◦ Lion (x3)<br>
							◦ коробочка с наполнителем
						</details>
						<a href="orderForm.html" class="btn btn-2" id="2">Купить сейчас</a>
					</div>
				</li>
				<li>
					<img src="img/3box.png" alt="" title="" class="property_img"/>
					<span class="price">₴500</span>
					<div class="property_details">
						<h3>Бокс "Man classic"</h3>
						<p>Классика подарка мужчине в нашем исполнении: все по традиции и ничего  лишнего 👔</p>
						<details>
							<summary>Смотреть состав</summary>
							◦ дезодерант <br>
							◦ пенка для бритья<br>
							◦ гель для душа<br>
							◦ Raffaello (x2)<br>
							◦ KitKat (x2)<br>
							◦ шоколад Ritter Sport<br>
							◦ коробочка с наполнителем
						</details>
						<a href="orderForm.html" class="btn btn-3" id="3">Купить сейчас</a>
					</div>
				</li>
				<li>
					<img src="img/second.JPG" alt="" title="" class="property_img"/>
					<span class="price">₴300</span>
					<div class="property_details">
						<h3>Бокс "Blue Mode"</h3>
						<p>Любительницы синего не смогут устоять перед сочетанием любимых сладостей и милой канцелярии!💙</p>
						<details>
							<summary>Смотреть состав</summary>
							◦ блокнот <br>
							◦ брелок медвежонок<br>
							◦ ручка-кактус<br>
							◦ маска для лица<br>
							◦ Bounty (x2)<br>
							◦ MilkyWay (x2)<br>
							◦ коробочка с наполнителем
						</details>
						<a href="orderForm.html" class="btn btn-4" id="4">Купить сейчас</a>
					</div>
				</li>
				<li>
					<img src="img/fourth.JPG" alt="" title="" class="property_img"/>
					<span class="price">₴380</span>
					<div class="property_details">
						<h3>Бокс "Jar"</h3>
						<p>Такой презент прекрасно подойдет тем, кто следит за фигурой и/или обожает орешки🥜</p>
						<details>
							<summary>Смотреть состав</summary>
							◦ миндаль <br>
							◦ арахис<br>
							◦ арахис в глазури<br>
							◦ лукум<br>
							◦ светодиодная гирлянда<br>
							◦ коробочка с наполнителем и баночками (х4)
						</details>
						<a href="orderForm.html" class="btn btn-5" id="5">Купить сейчас</a>
					</div>
				</li>
				<li>
					<img src="img/6.JPG" alt="" title="" class="property_img"/>
					<span class="price">₴320</span>
					<div class="property_details">
						<h3>Бокс "Pinky"</h3>
						<p>Один из лучших наших подарков представительницам слабого пола в розовом цвете🌺</p>
						<details>
							<summary>Смотреть состав</summary>
							◦ блокнот <br>
							◦ брелок медвежонок<br>
							◦ антисептик<br>
							◦ бомбочки для ванной(x2)<br>
							◦ Kinder (x4)<br>
							◦ коробочка с наполнителем
						</details>
						<a href="orderForm.html" class="btn btn-6" id="6">Купить сейчас</a>
					</div>
				</li>
				<li>
					<img src="img/7.JPG" alt="" title="" class="property_img"/>
					<span class="price">₴230</span>
					<div class="property_details">
						<h3>Бокс "Care mania"</h3>
						<p>Этот бокс с уходовыми женскими штучками определенно обрадует ваших дам сердца 🎁</p>
						<details>
							<summary>Смотреть состав</summary>
							◦ блокнот <br>
							◦ антисептик<br>
							◦ бомбочка для ванной<br>
							◦ Kinder (x4)<br>
							◦ коробочка с наполнителем и бантиком
						</details>
						<a href="orderForm.html" class="btn btn-7" id="7">Купить сейчас</a>
					</div>
				</li>
				<li>
					<img src="img/4example.png" alt="" title="" class="property_img"/>
					<span class="price">₴380</span>
					<div class="property_details">
						<h3>Бокс "For man 2.0"</h3>
						<p>Мы подготовили еще один вариант подарка для Ваших самых дорогих мужчин💪</p>
						<details>
							<summary>Смотреть состав</summary>
							◦ виски Bushmills<br>
							◦ коньяк Martell<br>
							◦ шоколадка Ritter Sport <br>
							◦ Twix<br>
							◦ Ferrero Rocher (x3)<br>
							◦ коробочка с наполнителем
						</details>
						<a href="orderForm.html" class="btn btn-8" id="8">Купить сейчас</a>
					</div>
				</li>
				<li>
					<img src="img/1example.png" alt="" title="" class="property_img"/>
					<span class="price">₴300</span>
					<div class="property_details">
						<h3>Бокс "In Love"</h3>
						<p>А этот бокс станет прекрасным подарок для проведения уютного дождливого вечера🌇</p>
						<details>
							<summary>Смотреть состав</summary>
							◦ шампанское Latinium  <br>
							◦ MilkyWay (x2)<br>
							◦ Raffaello (x3)<br>
							◦ карамельки Амурчики<br>
							◦ светодиодная гирляндочка<br>
							◦ коробочка с наполнителем
						</details>
						<a href="orderForm.html" class="btn btn-9" id="9">Купить сейчас</a>
					</div>
				</li>
			</ul>
			<a href="madeByYourOwn.html" class="btn">Собрать уникальный бокс</a>
		</div>
	</section>
{% endblock %}
