{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/forms.css') }}">
{% endblock %}
{% block content %}

	<section style="display: flex; align-items: center; height: 300px; justify-content: center">

			<div class="h4">Заказ создан. Через некоторое время с Вами свяжется наш менеджер</div>

	</section>

{% endblock %}
