{% extends 'base.html.twig' %}

{% block content %}
	<section class="aboutus" id="aboutus">
		<div class="container">
			<h1 class="aboutus-title">Немного про нас</h1>
			<div class="gbInfoFull" id="gbInfoFull">
				<div class="gbInfo gbInfo-aim">
					<h3 class="gbInfo-title">
						Наша главная цель
					</h3>
					<p class="gbInfo-text">
						Порадовать Вас, Ваших друзей и любимых достойным подарком по приятной цене
					</p>
				</div>
				<div class="gbInfo gbInfo-place">
					<h3 class="gbInfo-title">
						Где мы находимся?
					</h3>
					<p class="gbInfo-text">
						Г. Харьков, пр. Л.Свободы, 46 (в 5 минутах от станции метро "Победа")
					</p>
				</div>
				<div class="gbInfo gbInfo-time">
					<h3 class="gbInfo-title">
						Часы работы
					</h3>
					<p class="gbInfo-text">
						Работаем для своих клиентов круглосуточно и без выходных
					</p>
				</div>
			</div>
			<div class="gbInfoFull gbInfoFullNext" id="gbInfoFullNext">
				<div class="gbInfo gbInfo-delivery">
					<h3 class="gbInfo-title">
						Способы доставки
					</h3>
					<p class="gbInfo-text">
						Отправляем заказ в день обращения Новой Почтой. Возможен самовывоз или доставка курьером по адресу (Харьков)
					</p>
				</div>
				<div class="gbInfo gbInfo-last">
					<h3 class="gbInfo-title">
						И напоследок
					</h3>
					<p class="gbInfo-text">
						Мы с радостью поможем Вам  с выбором и реализацией подарочного бокса (и не только) на любой случай жизни
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="products" id="products">
		<div class="container">
			<h1 class="products-title">Готовые боксы</h1>
			<div class="wrapper wrapper-products">
				<div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
					<div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-indicators">
							<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Box 1"></button>
							<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Box 2"></button>
							<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Box 3"></button>
							<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3" aria-label="Box 4"></button>
						</div>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="img/first.JPG" class="d-block w-100 carouselImages" alt="1">
							</div>
							<div class="carousel-item">
								<img src="img/second.JPG" class="d-block w-100 carouselImages" alt="2">
							</div>
							<div class="carousel-item">
								<img src="img/third.JPG" class="d-block w-100 carouselImages" alt="3">
							</div>
							<div class="carousel-item">
								<img src="img/fourth.JPG" class="d-block w-100 carouselImages" alt="4">
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselControls"  data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselControls"  data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>
				<div class="offer">
					<h2 class="offer-title">
						А Вы знали, что мы всегда рады помочь вам с реализацией <br>
						<span class="idea">Ваших идей?</span>
					</h2>
					<p class="offer-text-intro">
						С нами Вы можете:
					</p>
					<ul>
						<li>выбрать компоненты для уникального боксика;</li>
						<li>указать желаемую сумму к оплате;</li>
						<li>посоветоваться: на что лучше обратить внимание, какие компоненты добавить/убрать и т.п</li>
					</ul>
					<p class="offer-text-ending">
						По итогу мы подготовим идеальный подарочек, учитывая все Ваши пожеланиями !
					</p>
					<a href="boxes.html" class="btn" id="btn btn-offer">Увидеть больше вариантов</a>
				</div>
			</div>
	</section>
{% endblock %}
